@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oranienbaum&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main */

#main-page {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 64px 5fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

.header {
  display: contents;
}

.nav-box {display: none;}

/* #main-page-headline {
  grid-area: 1/1/2/3;
} */

.headline { /*make header sticky for mobile view*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: 1/1/2/end;
  background-color: rgb(195, 195, 195);
  border-bottom: 2px solid rgb(133, 133, 133);
  position: sticky;
  top: 0;
  z-index: 5;
}

.headline-highlight {
  font-family: 'Oranienbaum', system-ui;
  font-size: 1.75rem;
  color: rgb(66, 71, 80);
  text-shadow: 0 0 1px black;
  border-bottom: 1px solid rgb(66, 71, 80);
  padding: 0.4rem;
}

.burger-button-container {
  grid-area: 1/3/2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
}

.burger-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: rgb(66, 71, 80);
  cursor: pointer;
  z-index: 10;
  -webkit-tap-highlight-color: transparent;
}

#gallery-container {
  grid-area: 2/1/5/4;
  background: black;
  overflow: hidden;
}

#next-button-container {grid-area: 3/3/4/4;}
#prev-button-container {grid-area: 3/1/4/2;}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prev,
#next {
  color: white;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.75rem;
  transition: 0.4s ease;
  border: none;
  z-index: 2;
  transition: transform 0.3s ease;
  text-shadow: 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black;
}
 
#next:hover {
  transform: translateX(4px);
  /* font-size: 2rem; */
}

#prev:hover {
  transform: translateX(-4px);
  /* font-size: 2rem; */
}

#dots-container {
  grid-area: 4/2/5/3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  transition: background-color 0.4s ease;
  text-shadow: 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black;
  z-index: 1;
}

.active,
.dot:hover {
  background-color: white;
}

/* /main */

/* slideshow */

.gallery-item {
  /* display: none; */
  height: 100%;
  width: 100%;
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
	from {opacity: .5}
	to {opacity: 1}
}

.gallery-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgb(150, 150, 150);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: inset 0 0 24px 8px #000000;
}

.gallery-page > a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black;
  transition: transform 0.3s ease-out;
}

/* hover animations */
.highlight-text {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}

.highlight-text:hover {transform: scale(1.05);}

.highlight-text::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: oklch(39.673% 0.01661 262.331);
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
}

.highlight-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* /hover animations */

.page-link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  /* transform: scale(1.01); */ /* When hovering over the page-links, around the prev and next buttons a subtle quadratic area appears */ 
}

#gallery-history-page {background-image: url(../Images/astronomy-5829414.svg);}

#gallery-gravity-page {background-image: url(../Images/1546636880.svg);}

#gallery-pendulum-page {background-image: url(../Images/horizontal_pendulum_2.svg);}

#gallery-quiz-page {background-image: url(../Images/mathematics-7304235.svg);}
/* /slideshow */

/* curtain-menu */

/* .nav-mobile-container {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(195, 195, 195);
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mobile-links {
  text-align: center;
}

.nav-mobile-container a {
  padding: 18px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: rgb(66, 71, 80);
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.nav-mobile-container a:hover, 
.nav-mobile-container a:focus {
  color: #f1f1f1;
} */

#nav-mobile {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(195, 195, 195);
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-mobile-links {
  text-align: center;
}

#nav-mobile a {
  padding: 18px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: rgb(66, 71, 80);
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

#nav-mobile a:hover, 
#nav-mobile a:focus {
  color: #f1f1f1;
}

/* /curtain-menu */

@media screen and (min-width: 550px) {
  .gallery-page a {font-size: 4rem;}
}

@media screen and (min-width: 1000px) {
  #main-page {
    grid-template-rows: 64px 1fr 1fr 80px;
  }

  .header {
    background: rgb(195, 195, 195);
    grid-area: 1/1/2/4;
    display: flex;
	align-items: center;
    z-index: 5;
	border-bottom: 2px solid rgb(133, 133, 133);
	position: sticky;
	top: 0;
  }

  .headline {border-bottom: none;}

  .nav-box {
    flex: 1;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
	font-family: "Inter";
	/* font-weight: 500; */
  }
  .nav-box a {
    font-size: 1.25rem;
    text-decoration: none;
	color: rgb(66, 71, 80);
	text-shadow: 0 0 1px black;
  }

  .button-container {
    display: flex;
    align-items: flex-start;
  }

  #prev,
  #next {font-size: 1.75rem;}

  .dot {
    width: 14px;
    height: 14px;
  }

  /* curtain-menu */
  .burger-button-container,
  .burger-button,
  .overlay {display: none;}
  /* /curtain-menu */

}

/* ALL SUB PAGES */

.grid-container {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 64px 1fr;
	width: 100%;
	min-height: 100vh;
}

.grid-item-main {
	grid-area: 2/1/3/4;
	/* padding: 0 0.5rem; */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: color;
	color: whitesmoke;
}

/* /ALL SUB PAGES */

/* HISTORY PAGE */

#history-page-main {
	display: grid;
	grid-template-columns: 1fr 11fr;
	grid-template-rows: repeat(9, 1fr 0.5fr 1fr);
	background-color: rgb(70, 70, 70); /* zsmfassen */
  	background-image: url(../Images/astronomy-5829414_1920.png);
	background-size: cover; /* zsmfasse */
	background-blend-mode: color-burn; /* zsmfassen */
	box-shadow: inset 0 0 12px 4px black; /* zsmfassen */
	padding-right: 16px;
}

#ruler {
	display: flex;
	justify-content: center;
	grid-area: 1/1/28/2;
}

#ruler > div {
	background-color: white;
	width: 3px;
}

.ruler-dot {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.ruler-dot > div {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: rgb(255, 128, 0);
	border: 3px solid rgb(106, 66, 21);
}

.text-background > div {
	/* background: rgba(0, 0, 0, 0.623);    
	box-shadow: 0 0 8px 2px black;
	border-radius: 8px;  
	width: 100%;
	height: 100%; */
	display: none;
}

#timeline-item-wrapper {
	display: contents;
}

.timeline-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-family: 'Inter', sans-serif;
	font-size: 1.25rem;
	font-weight: normal;
	padding-left: 8px;	
}

.timeline-date {
	font-weight: 800;
}

.timeline-date-title {
	background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 128, 0));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.timeline-desc {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	padding: 8px;
	background: rgba(0, 0, 0, 0.623);    
	box-shadow: 0 0 1rem 0.25rem black;
	border-radius: 8px; 
}

/* #text-background1 {grid-area: 2/2/4/3;}
#text-background2 {grid-area: 5/2/7/3;}
#text-background3 {grid-area: 8/2/10/3;}
#text-background4 {grid-area: 11/2/13/3;}
#text-background5 {grid-area: 14/2/16/3;}
#text-background6 {grid-area: 17/2/19/3;}
#text-background7 {grid-area: 20/2/22/3;}
#text-background8 {grid-area: 23/2/25/3;} */

#ruler-dot-1 {grid-area: 2/1/3/2;}
#timeline-item-1 {grid-area: 2/2/3/3;}
#timeline-desc-1 {grid-area: 3/2/4/3;}

#ruler-dot-2 {grid-area: 5/1/6/2;}
#timeline-item-2 {grid-area: 5/2/6/3;}
#timeline-desc-2 {grid-area: 6/2/7/3;}

#ruler-dot-3 {grid-area: 8/1/9/2;}
#timeline-item-3 {grid-area: 8/2/9/3;}
#timeline-desc-3 {grid-area: 9/2/10/3;}

#ruler-dot-4 {grid-area: 11/1/12/2;}
#timeline-item-4 {grid-area: 11/2/12/3;}
#timeline-desc-4 {grid-area: 12/2/13/2;}

#ruler-dot-5 {grid-area: 14/1/15/2;}
#timeline-item-5 {grid-area: 14/2/15/3;}
#timeline-desc-5 {grid-area: 15/2/16/3;}

#ruler-dot-6 {grid-area: 17/1/18/2;}
#timeline-item-6 {grid-area: 17/2/18/3;}
#timeline-desc-6 {grid-area: 18/2/19/3;}

#ruler-dot-7 {grid-area: 20/1/21/2;}
#timeline-item-7 {grid-area: 20/2/21/3;}
#timeline-desc-7 {grid-area: 21/2/22/3;}

#ruler-dot-8 {grid-area: 23/1/24/2;}
#timeline-item-8 {grid-area: 23/2/24/3;}
#timeline-desc-8 {grid-area: 24/2/25/3;}

#timeline-desc-9 {
	grid-area: 26/2/27/3;
	text-shadow: 0 0 1rem black;
}

@media screen and (min-width: 601px) {

	#history-page-main {
		grid-template-columns: 1fr 3fr 8fr;
		grid-template-rows: repeat(9, 2.5fr 2fr) 1.5fr;
	}

	#ruler {
		grid-area: 1/1/end/2;
	}

	.timeline-item {font-size: 1.25rem;}

	.timeline-desc {font-size: 1.5rem;}

	/* #text-background1 {grid-area: 2/2/3/4;}
	#text-background2 {grid-area: 4/2/5/4;}
	#text-background3 {grid-area: 6/2/7/4;}
	#text-background4 {grid-area: 8/2/9/4;}
	#text-background5 {grid-area: 10/2/11/4;}
	#text-background6 {grid-area: 12/2/13/4;}
	#text-background7 {grid-area: 14/2/15/4;}
	#text-background8 {grid-area: 16/2/17/4;} */

	#ruler-dot-1 {grid-area: 2/1/3/2;}
	#timeline-item-1 {grid-area: 2/2/3/3;}
	#timeline-desc-1 {grid-area: 2/3/3/4;}	

	#ruler-dot-2 {grid-area: 4/1/5/2;}
	#timeline-item-2 {grid-area: 4/2/5/3;}
	#timeline-desc-2 {grid-area: 4/3/5/4;}

	#ruler-dot-3 {grid-area: 6/1/7/2;}
	#timeline-item-3 {grid-area: 6/2/7/3;}
	#timeline-desc-3 {grid-area: 6/3/7/4;}

	#ruler-dot-4 {grid-area: 8/1/9/2;}
	#timeline-item-4 {grid-area: 8/2/9/3;}
	#timeline-desc-4 {grid-area: 8/3/9/4;}

	#ruler-dot-5 {grid-area: 10/1/11/2;}
	#timeline-item-5 {grid-area: 10/2/11/3;}
	#timeline-desc-5 {grid-area: 10/3/11/4;}

	#ruler-dot-6 {grid-area: 12/1/13/2;}
	#timeline-item-6 {grid-area: 12/2/13/3;}
	#timeline-desc-6 {grid-area: 12/3/13/4;}

	#ruler-dot-7 {grid-area: 14/1/15/2;}
	#timeline-item-7 {grid-area: 14/2/15/3;}
	#timeline-desc-7 {grid-area: 14/3/15/4;}

	#ruler-dot-8 {grid-area: 16/1/17/2;}
	#timeline-item-8 {grid-area: 16/2/17/3;}
	#timeline-desc-8 {grid-area: 16/3/17/4;}

	#timeline-desc-9  {grid-area: 18/2/19/4;}
}

@media screen and (min-width: 1000px) {
	
  	#history-page-main {
		grid-template-columns: 20fr 1fr 20fr;
		grid-template-rows: repeat(9, 2.5fr 2fr) 1fr;
		padding: 0 16px;
	}

	#timeline-item-wrapper > *:nth-child(odd) {margin-left: auto;} 
	#timeline-item-wrapper > *:nth-child(even) {margin-right: auto;}

	#ruler {grid-area: 1/2/end/3;}

	.text-background {display: none;}

	.timeline-item {font-size: 1.5rem;}

	.timeline-desc {
		font-size: 1.5rem;
		background: rgba(0, 0, 0, 0.623);    
		box-shadow: 0 0 1rem 0.25rem black;
		border-radius: 8px; 
	}

	#timeline-item-1,
	#timeline-item-3,
	#timeline-item-5,
	#timeline-item-7 {align-items: flex-end;}

	#timeline-desc-2,
	#timeline-desc-4,
	#timeline-desc-6,
	#timeline-desc-8 {text-align: right;}

	#timeline-item-1 {grid-area: 2/1/3/2;}
	#ruler-dot-1 {grid-area: 2/2/3/3;}
	#timeline-desc-1 {grid-area: 2/3/3/4;}

	#timeline-item-2 {grid-area: 4/3/5/4;}
	#ruler-dot-2 {grid-area: 4/2/5/3;}
	#timeline-desc-2 {grid-area: 4/1/5/2;}

	#timeline-item-3 {grid-area: 6/1/7/2;}
	#ruler-dot-3 {grid-area: 6/2/7/3;}
	#timeline-desc-3 {grid-area: 6/3/7/4;}

	#timeline-item-4 {grid-area: 8/3/9/4;}
	#ruler-dot-4 {grid-area: 8/2/9/3;}
	#timeline-desc-4 {grid-area: 8/1/9/2;}

	#timeline-item-5 {grid-area: 10/1/11/2;}
	#ruler-dot-5 {grid-area: 10/2/11/3;}
	#timeline-desc-5 {grid-area: 10/3/11/4;}

	#timeline-item-6 {grid-area: 12/3/13/4;}
	#ruler-dot-6 {grid-area: 12/2/13/3;}
	#timeline-desc-6 {grid-area: 12/1/13/2;}

	#timeline-item-7 {grid-area: 14/1/15/2;}
	#ruler-dot-7 {grid-area: 14/2/15/3;}
	#timeline-desc-7 {grid-area: 14/3/15/4;}
	
	#timeline-item-8 {grid-area: 16/3/17/4;}
	#ruler-dot-8 {grid-area: 16/2/17/3;}
	#timeline-desc-8 {grid-area: 16/1/17/2;}

	#timeline-desc-9  {grid-area: 18/3/19/4;}
}

/* /HISTORY PAGE */


/* GRAVITY PAGE */

#gravity-page-main {
	grid-area: 2/1/3/4;
	display: grid;
	grid-template-columns: 1fr 15fr 1fr;
	row-gap: 10rem;
	/* background-image: url(../Images/Gray_Matte.jpg);	 */
	/* background-color: #00000084; */
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: whitesmoke;
}

/* /GRAVITY PAGE */


/* PENDULUM PAGE */
#pendulum-page-main {
	grid-area: 2/1/3/4;
	display: grid;
	grid-template-columns: 1fr;
	gap: 48px;
	background-color: rgb(70, 70, 70); /* zsmfassen */	
	background-image: url(../Images/horizontal_pendulum_2.svg);
	background-blend-mode: color-burn;
	background-position: center;
  	background-size: cover;
	box-shadow: inset 0 0 12px 4px black; /* zsmfassen */
	padding: 16px;
}

.cross-page-ref {
	text-decoration: none;
	background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 128, 0));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.cross-page-ref:hover {
	text-decoration: underline;
	background: white;
	background-clip: text;
	-webkit-text-fill-color: white;
}

.pendulum-text,
#pendulum-wrapper,
.pendulum-controls,
.pendulum-control-group {
	display: flex;
	flex-direction: column;
}

.pendulum-text,
#pendulum-wrapper,
.pendulum-controls,
.pendulum-control-group {
	gap: 16px;
}

.pendulum-text-title,
.pendulum-controls,
.pendulum-control-group {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}

.pendulum-text,
.pendulum-control-label,
.pendulum-control-button,
.value-display {
	font-size: 1.25rem;
}

#pendulum-text-1 {grid-area: 1/1/2/2;}

#pendulum-text-2 {grid-area: 2/1/3/2;}

#pendulum-text-3 {grid-area: 4/1/5/2;}

#pendulum-wrapper {grid-area: 3/1/4/2;}

#pendulum-container {
	margin: 0 auto;
	width: 200px;
	border: 2px solid white;
	border-radius: 50%;
	box-shadow: 0 0 8px 4px black;
}

input[type="range"] {
	height: 8px;
	cursor: pointer;
}

.value-display {
    text-align: center;
}

.pendulum-control-button {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
	border-radius: 8px;
    cursor: pointer;
    background: rgb(195, 195, 195);
    color: rgb(66, 71, 80);
    transition: background 0.3s;
}

.pendulum-control-button:hover {
    background: white;
}

#pendulum-svg {
	background-color: rgb(100, 100, 100);
	border-radius: 50%;
}

.pendulum-rod {
    stroke: white;
    stroke-width: 2;
}

.pendulum-weight {
	fill: rgb(66, 71, 80);
    stroke: white;
    stroke-width: 2;
}

.pivot {
    fill: white;
}

@media screen and (min-width: 700px) {
	
	#pendulum-page-main {
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: auto;
		gap: 32px;
	}

	.pendulum-text {font-size: 1.5rem;}

	#pendulum-text-1 {grid-area: 1/1/2/2;}
	#pendulum-text-2 {grid-area: 1/2/2/3;}
	#pendulum-text-3 {grid-area: 3/1/4/3;}

	#pendulum-wrapper {display: contents;}

	#pendulum-container {
		grid-area: 2/1/3/2;
		width: 300px;
		height: 300px;
		display: flex;
		align-items: center;
	}

	#pendulum-test {
		display: flex;
		align-items: center;
	}
	.pendulum-controls {
		grid-area: 2/2/3/3;
		width: 90%;
		margin: 0 auto;
		justify-content: center;
	}
}

@media  screen and (min-width: 1000px) {
	
	#pendulum-page-main {
		grid-template-columns: 1fr 1fr 1fr;
		padding: 16px 64px;
	}

	.pendulum-text {display: contents;}

	.pendulum-text-title,
	.pendulum-text-desc-ctn,
	#pendulum-wrapper,
	#pendulum-container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#pendulum-text-title-1 {grid-area: 1/1/2/2;}
	#pendulum-text-desc-1-ctn {grid-area: 1/2/2/4;}

	#pendulum-text-title-2 {grid-area: 2/1/3/2;}
	#pendulum-text-desc-2-ctn {grid-area: 2/2/3/4;}

	#pendulum-text-title-3 {grid-area: 4/1/5/2;}
	#pendulum-text-desc-3-ctn {grid-area: 4/2/5/4;}

	#pendulum-wrapper {
		grid-area: 3/1/4/4;
		justify-content: center;
		gap: 32px;
	}

	#pendulum-container {
		width: 400px;
		height: 400px;
	}

	.pendulum-controls {
		justify-content: center;
		width: 40%;
		gap: 32px; 
		margin: 0;
	}

}

/* /PENDULUM PAGE */


/* QUIZ PAGE */

#quiz-page-main{
	grid-area: 2/1/3/4;
	padding: 2rem;
	/* background-image: url(../Images/); */
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#quiz-page-main h1{
	/* font-size: 1.5rem; */ /* semantische tags anpassen? zb h tags für mobile view*/
	color: whitesmoke;
	font-weight: 900;
	border-bottom: 1px solid whitesmoke;
	padding-bottom: 30px;
}

.quiz{
	display: flex;
	flex-direction: column;
  padding-top: 2rem;
	/* z-index: 1; */
}

#quiz-page-main h1 {
	text-shadow: 0 0 1.25rem black, 0 0 1.25rem black;
}

.quiz h2{
	/* font-size: 1.25rem; */
	color: whitesmoke;
  text-shadow: 0 0 1rem black, 0 0 1.25rem black;
	/* font-weight: 900; */
}

#answer-buttons {
	display: flex;
	flex-direction: column;
}

.btn {
	background: rgb(255, 245, 230);
	color: black;
	font-weight: 500;
	border: 1px solid black;
	padding: 1rem;
	margin: 0.5rem 0;
	text-align: left;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
	font-size: 1rem;
}
.btn:hover:not([disabled]){
	background: black;
	color: rgb(255, 245, 230);
}
.btn:disabled{
  	cursor: no-drop;
}
#next-btn{
	background: rgb(28, 11, 15);
	color: white;
	font-weight: 500;
	width: 150px;
	border: 0;
	padding: 10px;
	margin: 20px auto 0;
	border-radius: 4px;
	cursor: pointer;
	display: none;
}
.correct{
  	background: #9aeabc;
}
.incorrect{
 	background: #ff9393;
}

@media screen and (min-width: 750px) {
	
	#quiz-page-main h1 {
		font-size: 2rem;
		text-align: center;
	}

	.quiz {
		width: 100%;
		justify-content: center;  
		align-items: center;
	}

	.quiz h2 {
		font-size: 1.5rem;
	}
	
	#answer-buttons {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.btn {
		width: 40%;
		margin: 1rem;
		padding: 1rem;
		text-align: center;
		font-size: 1.25rem;
	}
}

/* /QUIZ PAGE */
